.menu-button {
    -fx-background-color:  #303446;
    -fx-text-fill: white;
}

.menu-button .menu {
    -fx-background-color:  #303446;
}

.split-menu-button .label {
    -fx-background-color:  #303446;
    -fx-text-fill: white;
}

.split-menu-button .arrow {
    -fx-background-color: #ffffff;
}

.split-menu-button .arrow-button {
    -fx-background-color: #303446 ;
}